@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    p {
        font-family: 'Linear Grotesk', sans-serif;
        font-weight: 400;
    }

    h1 {
        font-family: 'Linear Grotesk', sans-serif;
        font-weight: 900;
    }
}

@keyframes slideInUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.animate-slide-up {
    animation: slideInUp 1s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

.delay-100 {
    animation-delay: 100ms;
}

.delay-200 {
    animation-delay: 200ms;
}

.delay-300 {
    animation-delay: 300ms;
}

.delay-400 {
    animation-delay: 400ms;
}

@font-face {
    font-family: 'Linear Grotesk';
    src: url('/sancocho/fonts/LinearGrotesk-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Linear Grotesk';
    src: url('/sancocho/fonts/LinearGrotesk-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Linear Grotesk';
    src: url('/sancocho/fonts/LinearGrotesk-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Linear Grotesk';
    src: url('/sancocho/fonts/LinearGrotesk-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rinter';
    src: url('/sancocho/fonts/Rinter.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}